<h3 class="text-center">Person List</h3>

<div class="container">
  
  <table class="table table-striped">
    <thead>
      <tr>
        <td> Id </td>
        <td> Name </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let person of persons" >
        <td>
          {{person.id}}
        </td>
        <td>
          {{person.firstname}} {{person.lastname}}
        </td>
        <td>
          <a routerLink="person/{{person.id}}">detail</a>
        </td>
        <td>
          <!-- <button type="submit" (click)="delete(person)" routerLink="person/" class="btn btn-danger">X</button> -->
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- <button type="button" class="btn btn-primary" (click)="onAddClick()"> -->
    Add
  <!-- </button> -->
  
</div>
